<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2025 KeyScore. All rights reserved.</p>
            
            <!-- Social Links -->
            <div class="social-links">
                <a href="https://www.facebook.com/ayush.awasthi.58511276?mibextid=ZbWKwL" target="_blank" aria-label="Facebook">
                    <img src="/static/video/facebook.png" alt="Facebook" />
                </a>
                <a href="https://www.twitter.com/YourProfile" target="_blank" aria-label="Twitter">
                    <img src="/static/video/twitter.png" alt="Twitter" />
                </a>
                <a href="https://www.instagram.com/lankadhipati.gamer/profilecard/?igsh=MTA2MXR4YnM0c3p2aA==" target="_blank" aria-label="Instagram">
                    <img src="/static/video/instagram.png" alt="Instagram" />
                </a>
                <a href="https://www.linkedin.com/in/ayush-awasthi-lankadhipati?" target="_blank" aria-label="LinkedIn">
                    <img src="/static/video/linkedin.png" alt="LinkedIn" />
                </a>
                <a href="https://youtube.com/@lankadhipatigaming4639?si=ijBQvcJSXqPEwGGI" target="_blank" aria-label="Youtube">
                    <img src="/static/video/youtube.png" alt="youtube" />
                </a>
                <a href="mailto:Rishuawasthi1020@gmail.com">
                    <img src="/static/video/gmail.png" alt="Email" class="contact-icon" />
                </a>
                
                </div>

            <!-- Legal Links -->
            <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-and-conditions">Terms & Conditions</a></p>
        </div>
    </footer>
</body>
</html>
